@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-space-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #FEFEFE;
  --foreground: #121315;
  --card: #FFFFFF;
  --card-foreground: #121315;
  --popover: #FFFFFF;
  --popover-foreground: #121315;
  --primary: #704DE8;
  --primary-foreground: #FEFEFE;
  --secondary: #F5F5F5;
  --secondary-foreground: #121315;
  --muted: #F5F5F5;
  --muted-foreground: #89898A;
  --accent: #F0F0F0;
  --accent-foreground: #121315;
  --destructive: oklch(0.577 0.245 27.325);
  --border: #E5E5E5;
  --input: #F5F5F5;
  --ring: #704DE8;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: #FEFEFE;
  --sidebar-foreground: #121315;
  --sidebar-primary: #704DE8;
  --sidebar-primary-foreground: #FEFEFE;
  --sidebar-accent: #F0F0F0;
  --sidebar-accent-foreground: #121315;
  --sidebar-border: #E5E5E5;
  --sidebar-ring: #704DE8;
}

.dark {
  --background: #121315;
  --foreground: #FEFEFE;
  --card: #191A1D;
  --card-foreground: #FEFEFE;
  --popover: #191A1D;
  --popover-foreground: #FEFEFE;
  --primary: #896BF2;
  --primary-foreground: #121315;
  --secondary: #212225;
  --secondary-foreground: #FEFEFE;
  --muted: #212225;
  --muted-foreground: #89898A;
  --accent: #323232;
  --accent-foreground: #FEFEFE;
  --destructive: oklch(0.704 0.191 22.216);
  --border: #7A7A7C;
  --input: #212225;
  --ring: #896BF2;
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: #191A1D;
  --sidebar-foreground: #FEFEFE;
  --sidebar-primary: #896BF2;
  --sidebar-primary-foreground: #121315;
  --sidebar-accent: #323232;
  --sidebar-accent-foreground: #FEFEFE;
  --sidebar-border: #7A7A7C;
  --sidebar-ring: #896BF2;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
